html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}


.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}
.header{

}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.big__text{
    font-size: 15px;
}
.header__text_logo{
    margin-top: 9px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    text-align: center;
    text-decoration: none;
    color: #A9811C;
}

.header__nav{
    margin-top: 10px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 15px;
}

.header__link{
    display: block;
    width: 105%;
    height: 30px;

    background: #FFFFFF;
    border: 1px solid #A9811C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left: 20px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-align: center;

    color: #A9811C;
}

.slider_div{
    width: 100%;
}


.main{
    max-width: 1060px;
    margin: 0 auto;
}

.row { display: flex;flex-wrap: wrap;}

.card_for_kurs{
    display: block;
    width: 220px;
    height: 290px;
    background: #FEFEFE;
    border: 1px solid #A9811C;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
}

.card_for_main{
    display: block;
    width: 20%;
    height: 100%;
    background: #FEFEFE;
    border: 1px solid #A9811C;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
}

.info_for_kurs{
    display: block;
    width: 100%;
    background: #FEFEFE;
    border: 1px solid #A9811C;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
}
.info_curs_title{
    margin-top: 9px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    text-align: center;
    text-decoration: none;
    color: #A9811C;
}
.info_curs_about{
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-size: 19px;
    color: #A9811C;
}

.card_image{
    width: 100%;
    padding-top: 26px;
    cursor: pointer;
}
.card_text{
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: #A9811C;
    text-align: center;
    text-decoration: none;
}

.main_video{
    background: #EBECEC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 40px;


}

.main_viedo-p{
    width: 100%;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #A9811C;
    text-align: center;
}



.footer-line{
    background-color: #769A77;
    height: 30px;
}
.footer-line1{
    background-color: #38593A;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.foot_part1{
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}
.footer-line2{
    background-color: white;
    height: 30px;
}

.link_foot_1{
    float: left;
    width: 360px;
    margin-top: 20px;
}
.link_foot_2{
    float: left;
    margin-top: 10px;
}
.link_foot_3{
    margin-top: 10px;
    float: left;
}
.link_footer_img{
    margin-right: 10px;
}
.text_f1{
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: white;
}
.text_f2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: white;
}






@import 'https://fonts.googleapis.com/css?family=Prompt:400,700';

.modal {
    /* This way it could be display flex or grid or whatever also. */
    display: block;

    /* Probably need media queries here */
    width: 600px;
    max-width: 100%;

    height: 450px;
    max-height: 100%;

    position: fixed;

    z-index: 100;

    left: 50%;
    top: 50%;

    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -50%);

    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */

    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;

    background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 50px 20px 20px;
}

.modal .close-button {
    position: absolute;

    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;

    top: 10px;

    /* needs to look OK with or without scrollbar */
    right: 20px;

    border: 0;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
}
